---
# The scss file which include files from _sass/
---

@charset 'UTF-8';

// variables

$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Arial, 'メイリオ', Meiryo, sans-serif !default;
$line-height: 36px !default;
$heading-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Hiragino Kaku Gothic ProN, 'ヒラギノ角ゴ ProN W3', Arial, 'メイリオ', Meiryo, sans-serif !default;
$heading-font-weight: 600 !default;
$heading-line-height: 1.25 !default;
$h1: 32px !default;
$h2: 24px !default;
$h3: 18px !default;

// Page width
$measure-width: 42rem !default;

// Viewport widths
$viewport-small: 32em;
$viewport-medium: 48em;
$viewport-large: 64em;

// Base Colors
$white: #fff !default;
$black: #000 !default;
$blue: #0076df !default;
$gray: #7a7a7a !default;
$light-gray: #f3f3f3 !default;
$lighter-gray: #fafafa;

// Semantic Names
$background-color: $white;
$dark-background-color: $lighter-gray;
$title-text-color: $black;
$secondary-text-color: $gray;
$body-text-color: $black;
$link-color: $blue;
$border-color: $light-gray;

// Whitespace
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;

// Borders
$border-width: 1px !default;
$border-radius: 8px !default;

// Footer
$footer-padding: $space-3;
$footer-font-weight: 300;
$footer-font-size: .75rem;

body {
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 100%;
  line-height: $line-height;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1,
h2,
h3 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin-bottom: 24px;
  margin-top: 64px;
}

pre {
  margin-bottom: $space-2;
  margin-top: 0;
  overflow-x: scroll;
}

hr {
  border: 0;
  border-bottom-color: $border-color;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  margin-bottom: $space-3;
  margin-top: $space-3;
}

blockquote {
  border-left: 5px solid $secondary-text-color;
  color: $secondary-text-color;
  font-style: italic;
  padding-left: $space-2;
  padding-right: $space-2;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

a {
  color: $blue;
}

pre,
code {
  border-radius: $border-radius;
}

html,
body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

.measure {
  margin: 0 auto;
  max-width: $measure-width;
}

.clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: table;
  }

  &::before {
    display: table;
  }
}

// pagination

.left {
  float: left;
}

.right {
  float: right;
}

.site-header {
  padding-bottom: $space-2;
  padding-top: $space-1;
  text-align: center;

  a {
    color: $title-text-color;
    font-size: $h3;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  nav {
    a {
      color: $title-text-color;
    }
  }
}

footer {
  background-color: $dark-background-color;
  border-top: $border-color;
  color: $secondary-text-color;
  font-size: $footer-font-size;
  padding: $footer-padding;
  text-align: center;
}

.social-icons {
  padding: .5em 0 0;
  width: 100%;
}

.posts {
  margin: 0;

  .post {
    border-bottom: thin solid $border-color;

    &:last-child {
      border-bottom: 0;
      margin-bottom: .375em;
      padding-bottom: 0;
    }
  }
}

.post-link {
  .post-title {
    color: $title-text-color;
    font-weight: 500;
    margin-top: 0;
  }
}

.post-footer {
  margin-top: .75rem;
  text-align: center;

  .avatar {
    border-radius: 50%;
    margin: 2rem 0;
    width: 100px;
  }
}

.meta,
.post-meta {
  color: $secondary-text-color;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  width: auto;
}

// media queries

@media screen and (min-width: $viewport-small) {
  html {
    font-size: 16px;
  }

  .h1 {
    font-size: $h1;
  }

  .site-header {
    text-align: left;

    .site-nav {
      float: right;
    }

    .site-title {
      float: left;
      font-size: $h3;
    }
  }

  .social-icons-right {
    text-align: right;
  }
}

@media screen and (max-width: 479px) {
  h1,
  h2,
  h3 {
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  h1 {
    font-size: $h2;
  }

  h2 {
    font-size: $h3;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 20px;
  }
}
