_posts/preview/
_site
.DS_Store
.jekyll-cache
.jekyll-metadata
.lighthouseci
.vscode

# Ignore the config file that's used for gh-pages.
_config.gh-pages.yml

Gemfile.lock
node_modules
vendor/bundle

.firebase/*