:root {
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --spacing-small: 1rem;
  --spacing-large: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --dark-background-color: rgba(242, 242, 247, 1);
    --primary-text-color: black;
    --secondary-text-color: rgba(72, 72, 74, 1);
    --link-color: rgba(0, 122, 255, 1);
    --border-color: rgba(229, 229, 234, 1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(53, 54, 58, 1);
    --dark-background-color: rgba(44, 44, 46, 1);
    --primary-text-color: rgba(242, 242, 247, 1);
    --secondary-text-color: rgba(174, 174, 178, 1);
    --link-color: rgba(10, 132, 255, 1);
    --border-color: rgba(72, 72, 74, 1);
  }
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  color: var(--primary-text-color);
  font-family: "Noto Sans", "Noto Sans CJK JP", "Hiragino Sans", "ヒラギノ角ゴ Pro W3", sans-serif;
  font-size: 100%;
  line-height: 36px;
  text-align: justify;
  text-justify: inter-ideograph;
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 24px;
  margin-top: 64px;
}

pre {
  margin-bottom: var(--spacing-small);
  margin-top: 0;
  overflow-x: scroll;
}

hr {
  border: 0;
  border-bottom-color: var(--border-color);
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-bottom: var(--spacing-large);
  margin-top: var(--spacing-large);
}

blockquote {
  border-left: 5px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  font-style: italic;
  padding-left: var(--spacing-small);
  padding-right: var(--spacing-small);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

a {
  color: var(--link-color);
}

pre,
code {
  border-radius: 8px;
}

html,
body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

.measure {
  margin: 0 auto;
  max-width: 42rem;
}

.clearfix:after {
  clear: both;
  display: table;
}

.clearfix:before {
  display: table;
}

.left {
  float: left;
}

.right {
  float: right;
}

.site-header {
  padding-bottom: var(--spacing-small);
  padding-top: var(--spacing-small);
  text-align: center;
}

.site-header a {
  color: var(--primary-text-color);
  font-size: var(--font-size-h3);
  text-decoration: none;
}

.site-header a:hover {
  text-decoration: underline;
}

.site-header nav a {
  color: var(--primary-text-color);
}

footer {
  background-color: var(--dark-background-color);
  border-top: var(--border-color);
  color: var(--secondary-text-color);
  font-size: var(--font-size-h3);
  padding: var(--spacing-large);
  text-align: center;
}

.share-links {
  padding-top: 32px;
}

.social-icons {
  padding: .5em 0 0;
  width: 100%;
}

#tippin-button {
  height: 28px;
  width: 96px;
  margin-top: 12px;
}

.posts {
  margin: 0;
}

.posts .post {
  border-bottom: thin solid var(--border-color);
}

.post:last-child {
  border-bottom: 0;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link {
  text-decoration: none;
}

.post-link .post-title {
  color: var(--primary-text-color);
  font-weight: bold;
  margin-top: 0;

  text-decoration: none;
}

.post-title:hover {
  text-decoration: underline;
}

.post-footer {
  margin-top: .75rem;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  margin: 2rem 0;
  width: 100px;
}

.meta,
.post-meta {
  color: var(--secondary-text-color);
  margin: 0;
  padding: .9em 0;
  width: auto;
}

@media screen and (min-width: 32em) {
  html {
    font-size: var(--font-size-h3);
  }

  .site-title {
    font-size: var(--font-size-h2);
  }
}

@media screen and (max-width: 479px) {
  h1,
  h2,
  h3 {
    line-height: 30px;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  h1 {
    font-size: var(--font-size-h2);
  }

  h2 {
    font-size: var(--font-size-h3);
  }
}

@media screen and (min-width: 48em) {
  html {
    font-size: var(--font-size-h3);
  }
}

@media screen and (min-width: 64em) {
  html {
    font-size: var(--font-size-h3);
  }
}
