---
layout: default
---

<div class="post-header">
  <span class="post-meta">{{ page.date | date: site.date_format }}</span>
  <h1 class="post-title">{{ page.title }}</h1>
</div>

{{ content }}

<div class="share-links">
  <div id="twitter-button">
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">Tweet</a>
  </div>
  <div id="tippin-button" data-dest="horimislime"></div>
</div>

<script src="/resources/vendor/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="https://tippin.me/buttons/tip.js?0001" type="text/javascript"></script>